<section *ngIf="bootcamps && bootcamps.length>0;">
  <header class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="title">{{bootcamps.length}} bootcamps</p>
      </div>
    </div>
    <div class="level-right">
      <button class="button level-item"
              (click)="sort('price')">Ordenar por precio</button>
      <button class="button level-item"
              (click)="sort('tags')">Ordenar por Tags</button>
      <input #searchInput
             class="input is-medium  m-4"
             type="text"
             placeholder="🔎 "
             (keyup)="searchByText(search.value)"
             autocomplete="off"
             aria-label="Search"
             #search>
    </div>
  </header>
  <main class="columns is-multiline">
    <ab-card *ngFor="let bootcamp of bootcamps"
             [card]="{title: bootcamp.Name, actions:[]}"
             class="column is-one-quarter-fullhd is-one-third-desktop is-half-tablet">
      <main>
        <p class="has-text-centered is-italic is-size-4 has-text-primary">{{ bootcamp.Organization }}</p>
        <section>
          <ab-tag [tag]="{ caption:'Tags', value: bootcamp.Tags  }"></ab-tag>
          <ab-tag [tag]="{ caption:'Location', value: bootcamp.Location }"></ab-tag>
          <ab-tag [tag]="{ caption:'Language', value: bootcamp.language }"></ab-tag>
          <ab-tag [tag]="{ caption:'Tags', value: bootcamp.Tags }"></ab-tag>
          <ab-tag *ngIf="bootcamp.Price"
                  [tag]="{ caption:'Price', value: bootcamp.Price | number, units:'€'  } "></ab-tag>
        </section>
      </main>
      <footer *ngIf="bootcamp.URL">
        <a [href]="bootcamp.URL"
           class="card-footer-item is-size-4 is-underlined"
           target="_blank">Visitar web</a>
      </footer>
    </ab-card>
  </main>
</section>
