<header class="">
  <nav class="navbar is-fixed-top has-shadow pb4 is-family-secondary "
       role="navigation"
       aria-label="main navigation">
    <span class="navbar-brand is-white ml-4">
      <a [routerLink]="['/']"
         class="is-size-2 has-text-primary">Bootcamps</a>
    </span>

    <span class="navbar-menu">
      <span class="navbar-end ">
        <a [routerLink]="['/about']"
           class="navbar-item is-size-3 has-text-primary">Acerca de</a>

      </span>
    </span>
  </nav>
</header>
